/*

  File    : style.css
  Author  : Eduardo Salinas [https://github.com/jeduars/]
  Date    : 7/13/2019
  © 2019 overTheNewEarth

  Description : This is the first-gen static landing page stylesheet for
                overTheNewEarth.com

*/

*, *::before, *::after{
  box-sizing: border-box;
}

/* background formatting */
html{
  padding: 0px;
  margin: 0px;
  height : 100%;
}

body{
  padding: 0px;
  margin: 0px;
  height : 100%;
  background: #000000;
  color: #FFFFFF;
  background-position: center center; /* First value is from left and second is from top. You can use use number as well*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

div{
  border-color:blueviolet;
  display: table;
  margin: auto;
}

#container{
  width: 85%;
  margin: auto;
  text-align: center
}

#backgroundImage{
  position: fixed;
  height : 100%;
  min-width : 100%;
}

@media only screen and (max-width: 900px) {
  body{
    background-image: url(assets/vSmall.png);
  }
}


@media only screen and (min-width:901px) and (max-width: 1920px) {
  body{
    background-image: url(assets/small.png);
  }
}


@media only screen and (min-width:1921px) and  (max-width: 2160px) {
  body{
    background-image: url(assets/kBig.png);
  }
}

@media only screen and (min-width:2161px) {
  body{
    background-image: url(assets/big.png);
  }
}


#oneLogoDiv{
  padding-top: 4%;
}

#oneTitleDiv{
}

#textDiv{
}

#activeSitesDiv{
  padding-top: 15px;
}

#inactiveSitesDiv{
  padding-top: 15px;
}

#comingSoonDiv{
}

#copyDiv{
  padding-top: 60px;
}

#oneLogo{
  height: 125px;
  width: 125px;
}

#oneTitle{
  height: 56px;
  padding-top: 13px;
  padding-bottom: 13px;
}

#text{
  margin:5px auto;
}


#comingSoon{
  height: 34px;
  padding: 8px 0 8px 0;
}

#youtube, #facebook, #spotify, #github, #soundcloud, #mixcloud, #applemusic, #twitter, #beatport{
  height: 34px;
  padding: 0 6px 0 0;
}